.fetch-error-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}

.fetch-error-status{
  font-size: 1.5em;
  text-decoration: underline;
}

.fetch-error-message{
  margin-top: 10px;
  font-size: 15px;
}

.fetch-error-refresh{
  color: var(--red-primary);
  cursor: pointer;
  user-select: none;
}

.fetch-error-refresh:hover{
  text-decoration: underline;
}

@media only screen and (max-width:800px){
  .fetch-error-wrapper{
    font-size: 12px;
  }

  .fetch-error-message{
    font-size: 11px;
  }
}

@media only screen and (max-width:500px){
  .fetch-error-wrapper{
    font-size: 10px;
  }

  .fetch-error-message{
    font-size: 10px;
  }

  .fetch-error-title span{
    bottom: 10px;
  }
}