.fetch-error-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}

.fetch-error-title{
  display: flex;
  align-items: end;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.fetch-error-title > h2{
  font-weight: 700;
  font-size: 5em;
  font-family: var(--font-family-primary),sans-serif;
}

.fetch-error-title > h2 > span{
  color: var(--red-primary);
}

.fetch-error-title > span{
  font-weight: 500;
  font-size: 3em;
  position: relative;
  bottom: 16px;
  margin-left: 1rem;
}

.fetch-error-status{
  font-size: 1.5em;
  text-decoration: underline;
}

.fetch-error-message{
  margin-top: 10px;
  font-size: 15px;
}

.fetch-error-refresh{
  color: var(--red-primary);
  cursor: pointer;
  user-select: none;
}

.fetch-error-refresh:hover{
  text-decoration: underline;
}

@media only screen and (max-width:800px){
  .fetch-error-wrapper{
    font-size: 12px;
  }
}

@media only screen and (max-width:500px){
  .fetch-error-wrapper{
    font-size: 8px;
  }

  .fetch-error-message{
    font-size: 12px;
  }

  .fetch-error-title span{
    bottom: 10px;
  }
}