.aside-container{
  font-size: 15px;
}

.aside-wrapper{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.aside-section{
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid var(--black-a06);
}