.main-aside-container{
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.main-aside-container > main{flex: 1;}


.main-aside-container.wrap-vt{
  flex-direction: column;
}

.main-aside-container.wrap-vt > aside{
  width: 100% !important;
  max-width: 100% !important;
}