.berita-card{
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  width: 380px;
}

.berita-card-wrapper{
  padding: 1.5rem;
  padding-top: 1rem;
}

.berita-card-image-wrapper{
  overflow: hidden;
  aspect-ratio: 16/9;
}

.berita-card-image{
  display: block;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  transition: 0.6s ease-out;
}

.berita-card:hover .berita-card-image{
  transform: scale(1.1);
}

.berita-card-title{
  display: block;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 30px;
  font-family: var(--font-family-primary);
  padding-bottom: 5px;
  transition: 0.4s;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.berita-card-title:hover{
  color: var(--red-primary);
}

.berita-card-data{
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  font-size: 14px;
  color: var(--text-gray);
  font-family: var(--font-family-primary);
}

.berita-card-data > span{
  display: flex;
  gap: 5px;
}

.berita-card-data > span i{
  color: var(--red-primary);
  display: block;
}

.berita-card-content{
  margin-bottom: 1rem;
}

.berita-card-content > p{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

@media only screen and (max-width: 600px){
  .berita-card-title{
    font-size: 16px;
    font-weight: 600;
  }

  .berita-card-data{
    font-size: 11px;
    flex-direction: column;
    gap: 0;
  }

  .berita-card{
    width: 280px;
  }

  .berita-card-content{
    display: none;
  }
}