/* ===== HERO SECTION ====== */



/* Swiper Button */

/* .beranda-hero-btn{
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  top: 43%;
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
}

.beranda-hero-btn:hover{
  background-color: rgba(0, 0, 0, 0.3);
}

.beranda-hero-container:hover .beranda-hero-swiper-next{
  right: 17%;
  visibility: visible;
  opacity: 1;
}

.beranda-hero-container:hover .beranda-hero-swiper-prev{
  left: 17%;
  visibility: visible;
  opacity: 1;
}

.beranda-hero-btn i{
  color: #e0e0e0;
  font-size: 1.3rem;
}

.beranda-hero-swiper-next{
  right: 14%;
  z-index: 900;
}

.beranda-hero-swiper-prev{  
  left: 14%;
  z-index: 900;
}

@media only screen and (max-width: 1025px){
  .beranda-hero-btn{
      display: none;
  }
} */

/* Hero Content */

.beranda-hero-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 800;
  top: 25%;
  left: 0;
  right: 0;
}

.beranda-hero-content .logo img{
  display: block;
  margin-bottom: 10px;
}

.beranda-hero-content .text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-size: 16px;
  gap: 20px;
  margin-top: 10px;
}

.beranda-hero-content .text h1{
  font-size: 3em;
  line-height: 40px;
}

.beranda-hero-content .text h3{
  font-size: 2em;
  font-weight: 400;
  line-height: 30px;
}

.beranda-hero-content .category{
  margin-top: 100px;
}

.beranda-hero-content .category-menu{
  display: flex;
  align-items: center;
  gap: 20px;
}

.beranda-hero-content .category-menu > Button{
  width: 150px;
}

.beranda-hero-content .category-menu a{
  color: #fff;
  display: block;
  font-size: 14px;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  width: 100%;
  text-align: center;
  padding: 12px 0;
}

.beranda-hero-content .category-menu a i{
  padding-right: 6px;
}

.beranda-hero-animate-box{
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--bg-secondary-dark);
  opacity: 0.9;
  left: 0;
  top: 0;
  z-index: 999;
}

@media only screen and (max-width: 768px){
  .beranda-hero-content .text{
      font-size: 10px;
      gap: 25px;
  }

  .beranda-hero-content .text :first-child{
    margin-bottom: -10px;
  }

  .beranda-hero-content .category-menu{
      flex-wrap: wrap;
      justify-content: center;
  }

  .beranda-hero-content .category-menu Button{
      width: 130px;
  }

  .beranda-hero-content .category-menu a{
      font-size: 12px;
  }
}