.berita-container{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

.berita-main-container{
  width: 100%;
}

.berita-swiper-pagination{
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  gap: var(--pagination-gap);
}

@media only screen and (max-width: 1349px){
  .berita-main-container{
      max-width: 840px;
  }
}

@media only screen and (max-width: 909px){
  .berita-main-container{
      max-width: 412px;
  }
}